body {
  background-color: #cacccf;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

header {
  background-color: #2c663b;
  background-size: cover;
  animation: gradientAnimation 10s ease-in-out infinite;
  color: #c1db4d;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#location-input {
  margin-bottom: 50px;
}

#location-input input[type="text"] {
  padding: 8px;
  font-size: 16px;
  background-color: #d6dbd6;
  color: #080202;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

#search-button,
#refresh-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #2c663b;
  color: #c1db4d;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 10px;
}

#refresh-button{
  background-color: #2c663b;
}

#weather-display {
  text-align: center;
}

#city-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#weather-info {
  margin-top: 20px;
}

#weather-info p {
  margin: 20px;
}

#error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}



.social-media {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.social-media a {
  color: #1c5f1c;
  font-size: 50px;
  margin-right: 10px;
  text-decoration: none;
}

.social-media a:hover {
  color: #c1db4d;
}
